.profile__item_position {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
    .profile__item_position{
        padding-top: 26px;
        justify-content: center;
    }
}