.popup__btn-close {
    width: 32px;
    height: 32px;
    background-color: unset;
    border: none;
    outline: none;
    background-image: url('/images/btn-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: -35px;
}

.popup__btn-close:hover {
    background-image: url('/images/btn-close-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
}