.profile__list-item_position {
    width: 336px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    align-self:center;
    margin-right: auto;
    padding-left: 30px;
}