.profile__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .profile__list {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 560px) {
    .profile__list {
        flex-direction: column;
    }
}